<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Admin</title>
    <link rel="stylesheet" href="/css/allemp.css">
</head>
<body>
    <section>
        <div class="head" >
            <h2>Employees List</h2>
            <div class ="home">
                <a href="/admin/home"> Home</a>
            </div>
        </div>
        <% for(let employ of employs){%>
        <div class="emp">
            <div class="emp-name">
                <b><%= employ.Name %></b> <%if(employ.isAdmin){%><span class="admin">Admin<%if(locals.user.emp_id == employ.id){%>(You)<%}%></span><%}%>
            </div>
            <div class="links">
                <!-- Display only if employ is not an Admin -->
                <%if(!employ.isAdmin){%>      
                    <a href="/employ/view/<%=employ.id%>"><button type="submit" class="btn">View</button></a>                               
                    <a href="/admin/make/<%=employ.id%>"><button type="submit" class="btn">Make Admin</button></a>
                    <a href="/admin/delete/<%=employ.id%>"><button type="submit" class="btn">Delete</button></a>
                <%}%>
            </div>
        </div>
        <%}%>
    </section>
</body>
</html>