<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employ Sign In</title>
    <link rel="stylesheet" href="/css/employ-signIn.css">
</head>
<body>
    <div id="sign-in">
        <h1>Employ Sign In</h1>
        <form action="/employ/create-session" method="POST" >

            <input type="text" placeholder="Enter your email!" name="Email" required>
            <input type="password" placeholder="Enter the password" name ="password" required>
            <p>
                <button type="submit" class="btn">Submit</button>
            </p>
        </form>
        <p> 
            <b><a href ='/employ/sign-up'>Admin Login/ New Employ SignUp </a>!?</b>
        </p>
    </div>
</body>
</html>