body{
    margin: 0;
    font-family: sans-serif;
}
.emp{
    width: 60%;
    display: inline-block;
}
.admin-details{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.admin-details div h3{
    margin:0;
}
.admin-links{
    margin-right: 10px;
}
.admin-links a{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.1rem;
    padding: 1px;
    border-radius: 10%;
}
.admin-links a:hover{
    color: black;
    text-decoration: underline;
}
.emp-list{
    margin-top: 0;
    border-top: 1px solid white;
}
.emp-list > li{
    height: auto;
    background-color: lightgray;
    margin-bottom: 1%;
    padding: 1rem;
}
.details{
    display: inline-block;
    width: 60%;
}
.links{
    display: inline-block;
}
.links a{
    color: black;
    text-decoration: none;
}
.links a:hover{
    text-decoration: underline;
}
.review{
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}
.admin-operation{
    height: 100%;
    vertical-align: top;
    display: inline-block;
    padding: 3% 0 5% 0;
    width: 30%;
    background-color: purple;
    position: fixed;
    overflow-y: scroll;

}
.admin-operation ul li > a{
    color:whitesmoke;
    text-decoration: none;
}
.heading{
    background-color: purple; 
    color: white; 
    margin: 0; 
    padding: 10px 0;
}
.feed{
    list-style-type: none;
}
.feed > li{
    border-left: 1px solid darkgrey; 
    padding:0 0 1.2rem 1rem;
}
#admins{
    color: white;
}
#admins h3{
    margin: 0;
    padding: 10px 0 0 10px;
}
.admin-list li{
    border-bottom: 2px solid white;
    padding: 1.2rem 0 1.2rem 0;
}
#employs{
    color: white;
}
#employs h3{
    margin: 0;
    padding: 10px 0 0 10px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(138, 43, 226); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 114, 231, 0.603); 
  }