body{
    font-family: sans-serif;
    margin: 0;
}
.rating{
    background-color: lightgray;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.home{
    margin: 0.5% 5% 0 0;
}
.home a{
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}
.home a:hover{
    text-decoration: underline;
    color: black;
}
.list-container{
    background-color: purple;
    color: white;
}
.btn{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10%;
    /* padding: 1% 0.3rem 1%; */
    font-weight: bold;
}
.btn:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.details{
    border-bottom: 1% solid white;
    padding: 1%;
    display: flex;
    justify-content:space-between;
}